//間距
// $interval-xs: ;
// $interval-s: ;
// $interval-m: ;
// $interval-l: ;
// $interval-xl: ;
// $interval-xxl: ;

// $interval-x-s: ;
// $interval-x-m: ;
// $interval-x-l: ;

// $interval-y-s: ;
// $interval-y-m: ;
// $interval-y-l: ;

// $interval-label: ;
// $interval-xy-l: ;
// $interval-s-xy-l: ;
// $interval-x-center: 20px auto;

//RWD斷點
$mediaSm:'max-width:640px';//手機
$mediaMd:' (max-width: 1023px) and (min-width: 768px)'; //平板橫
$mediaSd:'(min-width:1024px) and (max-width:1439px)';//標準桌面1024-1440
$mediaLg: 'min-width: 1441px';//大螢幕
