// Primary
$primary-1:#88CDF6;

//background-color
$bg-1:#FFF8D6;
$bg-2:#FFEEEE;
$bg-3:#FFCCCC;

//other
$other-1:#86D89D;
$other-2:#3FAF73;
$other-3:#9DB3F8;
$other-4:#F09A9A;
$other-5:#FDD646;
$other-6:#EB6135;
$other-7:#F9C0C0;
$other-8:#E17D1F;
$other-9:#fae083;
$other-010:#FFDA75;
$other-011:#4D4D4D;
$other-012:#F4BA37;

//font
$fc-1:#021D41;
$fc-2:#06377A;


//button
$btn-1:#FFFFFF;
$btn-2:#DDF3FB;
$btn-3:#EEAB43;
$btn-4:#E73061;




