@charset "UTF-8";
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

/* 重置字體 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連結 */
a {
  display: block;
  /* 將a預設inline改為block，才能設定間距及寬高*/
  text-decoration: none;
}

/* 重製按鈕 */
button {
  border: none;
  cursor: pointer;
}

/* 卷軸樣式 */
/* ::-webkit-scrollbar {
    //捲動條
    width: 15px; //垂直卷軸寬
    height: 15px; //水平卷軸高
    // border-radius: 99px;

}

::-webkit-scrollbar-button {
    background-color: $lesser-3;
    width: 15px; //水平卷軸按鈕寬
    height: 15px; //垂直捲職按鈕寬
}

// 卷軸按鈕(上下按鈕)

::-webkit-scrollbar-thumb {
    //卷軸手柄
    background-color: $lesser-4;
    width: 12px;
    border-radius: 99;
}

::-webkit-scrollbar-track {
    //滾動條軌道的顏色
    background-color: $lesser-1;
}

::-webkit-scrollbar-corner {
    //水平垂直卷軸的右下底角
    background-color: $lesser-2;
}
::-webkit-resizer{//多行文字欄位右下縮放按鈕
    background-color: $lesser-1;
} */
/* reset end */
.hometwoall {
  height: 100vh;
}
.hometwoall .strip {
  height: 5%;
}
.hometwoall .characterbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  gap: 20px;
}
.hometwoall .characterbox .char-card {
  flex: 1;
  border-radius: 250px 250px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  height: 90%;
  background-color: #FFEEEE;
  /* 偽元素圖片樣式 */
}
.hometwoall .characterbox .char-card .roleimg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hometwoall .characterbox .char-card .roleimg img {
  width: 95%;
}
.hometwoall .characterbox .char-card .roleimg::after {
  content: "";
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 200;
  bottom: 0;
  right: -50px;
  width: 165px;
  height: 70px;
}
.hometwoall .characterbox .char-card .roleimg-0::after {
  background-image: url("../../assets/images/luminame.svg");
}
.hometwoall .characterbox .char-card .roleimg-1::after {
  background-image: url("../../assets/images/miminame.svg");
}
.hometwoall .characterbox .char-card .roleimg-2::after {
  background-image: url("../../assets/images/novaname.svg");
}
.hometwoall .characterbox .char-card .kidney {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.hometwoall .characterbox .char-card .kidney .kidn {
  background-color: #FFF8D6;
  width: fit-content;
  padding: 10px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 700;
}
.hometwoall .characterbox .char-card .hobby {
  width: 78%;
  padding-left: 10px;
}
.hometwoall .characterbox .char-card .hobby .cardh3 {
  font-size: 1.25rem;
  font-weight: 700;
  position: relative;
}
.hometwoall .characterbox .char-card .hobby .cardh3::after {
  content: "";
  position: absolute;
  background-image: url("../../assets/images/love.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 200;
  bottom: 5px;
  width: 20px;
  height: 20px;
}
.hometwoall .characterbox .char-card .hobby .hobbytext {
  font-size: 1rem;
  font-weight: 700;
}
.hometwoall .characterbox .char-card .hobby .inttext {
  font-size: 1rem;
  font-weight: 500;
}/*# sourceMappingURL=HomeTwo.css.map */