@charset "UTF-8";
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

/* 重置字體 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連結 */
a {
  display: block;
  /* 將a預設inline改為block，才能設定間距及寬高*/
  color: #000000;
  text-decoration: none;
}

/* 卷軸樣式 */
/* ::-webkit-scrollbar {
    //捲動條
    width: 15px; //垂直卷軸寬
    height: 15px; //水平卷軸高
    // border-radius: 99px;

}

::-webkit-scrollbar-button {
    background-color: $lesser-3;
    width: 15px; //水平卷軸按鈕寬
    height: 15px; //垂直捲職按鈕寬
}

// 卷軸按鈕(上下按鈕)

::-webkit-scrollbar-thumb {
    //卷軸手柄
    background-color: $lesser-4;
    width: 12px;
    border-radius: 99;
}

::-webkit-scrollbar-track {
    //滾動條軌道的顏色
    background-color: $lesser-1;
}

::-webkit-scrollbar-corner {
    //水平垂直卷軸的右下底角
    background-color: $lesser-2;
}
::-webkit-resizer{//多行文字欄位右下縮放按鈕
    background-color: $lesser-1;
} */
/* reset end */
.searchbox {
  width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  gap: 20px;
}
.searchbox img {
  width: 50%;
}
.searchbox .search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.searchbox .search-section .searchtexticon {
  position: relative;
  width: 100%;
}
.searchbox .search-section .searchtexticon .textinput {
  width: 100%;
  height: 40px;
  padding: 8px;
  font-size: 16px;
  border: 1.5px solid #06377A;
  border-radius: 4px;
  margin-bottom: 16px;
  padding-left: 30px;
}
.searchbox .search-section .searchtexticon .search-icon {
  position: absolute;
  left: 10px;
  bottom: 10px;
  transform: translateY(-50%);
  color: #06377A;
}
.searchbox .search-section .categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}
.searchbox .search-section .categories .categorybutton {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #FFEEEE;
  border: 3px solid #FFEEEE;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.searchbox .search-section .categories .categorybutton:hover {
  background-color: #F9C0C0;
}
.searchbox .search-section .results {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 500px;
}
.searchbox .search-section .results .resultitem {
  padding: 8px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
.searchbox .search-section .results .resultitem .link {
  display: flex;
  align-items: center;
  color: #021D41;
  font-family: "SweiGothicCJKtc-Regular", serif;
}
.searchbox .search-section .results .resultitem .link:hover {
  color: #021D41;
  text-decoration: underline #F9C0C0;
  text-underline-offset: 4px; /* 調整底線與文字的距離 */
}
.searchbox .search-section .results .resultitem .icon {
  margin-right: 8px;
  font-size: 16px;
  width: 48px;
  height: 48px;
}
.searchbox .search-section .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 8px;
}
.searchbox .search-section .pagination .paginationbutton {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #DDF3FB;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.searchbox .search-section .pagination .paginationbutton:disabled {
  cursor: not-allowed;
  background-color: #e0e0e0;
}
.searchbox .search-section .pagination .paginationbutton:hover:not(:disabled) {
  background-color: #88CDF6;
}
.searchbox .search-section .pagination .paginationinfo {
  font-size: 14px;
  color: #555;
}
.searchbox .article-section {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}/*# sourceMappingURL=SearchBox.css.map */