@use '../../assets/scss/reset';
@use '../../assets/scss/variables/' as *;

.topbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    width: 65px;
    height: auto;
    transition: transform 0.3s ease;
   
    &:hover {
    transform: translate(-2px, -2px) scale(0.98);
    }
  
    &:active {
        transform: rotate(-45deg);
    }
  }