@use '../../assets/scss/reset';
@use '../../assets/scss/variables/' as *;

.hometwoall {
    height: 100vh;
    .strip{
height: 5%;
    }
    .characterbox {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 95%;
        gap: 20px;
        .char-card{
            border: 1px solid red;
        }
    }
}