@use '../assets/scss/reset';
@use '../assets/scss/variables/' as *;

// ForgotPassword.scss
.forgot {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8); // 半透明背景
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  
    .forgot-content {
      background: #fff;
      width: 90%;
      max-width: 400px;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      animation: fadeIn 0.3s ease-out;
  
      .foricon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
  
        h4 {
          font-size:$font-size-24;
          font-weight: $font-bold;
        }
      }
  
      .forgot-form {
        display: flex;
        flex-direction: column;
  
        label {
          margin-bottom: 5px;
          font-size: $font-size-16;
        }
  
        input {
          padding: 10px;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size:  $font-size-16;
  
          &:focus {
            outline: none;
            border-color: $other-3;
          }
        }
  
        .remember {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
  
          input[type="checkbox"] {
            margin-right: 10px;
          }
  
          label {
            font-size:$font-size-14;
            color: #555;
          }
        }
      }
  
      .forgot-button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border-radius: 5px;
        font-size: $font-size-16;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #6da7ff;
        }
      }
    }
  }
  
  // 動畫效果
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  