@use '../../assets/scss/reset';
@use '../../assets/scss/variables/' as *;

.titlehome {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-top: 10px;
    padding-top: 20px;

    .titlehomelogo {
        width: 30%;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;  
    justify-content: flex-end; 
    align-items: center;  
    position: relative;
    bottom: 0;
    width: 100vw;
    // height: 75vh;
    // border: 1px solid black;

    .bakimg {
        height: 700px;
        width: 100%;
        margin:auto;
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
        border: 1px solid red;
        

        .hometext {
            color: black;
        }


    }

    .homebox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        // gap: 100px;

        .hometexth2 {
            font-size: $font-size-40;
        }

        .hometextp {
            font-size: $font-size-28;
        }

        .homearrow {
            position: absolute;
            top: 50%;
            width: 100vw;
            display: flex;
            justify-content: space-between;

            .arrowhome {
                cursor: pointer;
                color: black;
                direction: 10px;
            }
        }
    }
}