@use '../../assets/scss/reset';
@use '../../assets/scss/variables/' as *;

.bunnynav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 140px;
  padding: 0 30px;
  gap: 300px; //logo中間空間
  

  .bunnylogobox {
    

    .bunnylogo {
      width: 325px;
      height: auto;
    }
  }

  .navul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 50%;

    .bunnylink {
      background-image: url('../../assets/images/navcloudlink.svg');
      background-size: 130px 80px;
      background-repeat: no-repeat;
      background-position: center;
      width: 130px;
      height: 90px;
      text-align: center;
      line-height: 115px;
      font-size: $font-size-24;
      font-weight: $font-bold;
      
      a{
        color: #FFF;
        text-shadow: 1px 1px 2px rgb(10, 8, 25);
      }

      &:hover {
        translate: 3px 3px;
      }

      &.active {
        background-image: url('../../assets/images/active-navcloudlink.svg');

        a {
          color: #FFF;
          text-shadow: 1px 1px 2px rgb(10, 8, 25);
        }
      }
    }
  }
}